<a id="answers"></a>
	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.testimonials.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.testimonials.item }}
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
                            <p><b><i>{{ .question | markdownify}}</i></b></p>
							<p>{{ .answer | markdownify}}</p>
						</blockquote>
						<div class="author to-animate">
							<figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
							<p>{{ .person | markdownify }}</p>
						</div>
					</div>
				</div>
			{{ end }}
			</div>
                        <a id="menu"></a>
			<div class="row">
				<div class="col-md-6 box-testimony text-center">
						<blockquote class="to-animate-2">
						  <h4>Appetizer Menu</h4>
						  
			                          {{ range .Site.Params.testimonials.appetizer }}
						  <p><b>{{ .name | markdownify}}</b><br>
					                {{ .contents | markdownify}}</p>
			                          {{ end }}
						</blockquote>
				</div>
				<div class="col-md-6 box-testimony text-center">
						<blockquote class="to-animate-2">
						  <h4>Dinner Menu</h4>
						  
			                          {{ range .Site.Params.testimonials.dinner }}
						  <p><b>{{ .name | markdownify}}</b><br>
					                {{ .contents | markdownify}}</p>
			                          {{ end }}
						</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 box-testimony text-center">
						<blockquote class="to-animate-2">
						  <h4>Dessert Menu</h4>
						  
			                          {{ range .Site.Params.testimonials.dessert }}
						  <p><b>{{ .name | markdownify}}</b><br>
					                {{ .contents | markdownify}}</p>
			                          {{ end }}
						</blockquote>
				</div>
				<div class="col-md-6 box-testimony text-center">
						<blockquote class="to-animate-2">
						  <h4>Beverage Menu</h4>
						  
			                          {{ range .Site.Params.testimonials.beverage }}
						  <p><b>{{ .name | markdownify}}</b><br>
					                {{ .contents | markdownify}}</p>
			                          {{ end }}
						</blockquote>
				</div>
			</div>
		</div>
	</section>
