#fh5co-testimonials {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color:var(--theme-main);
  background-image:var(--gradient-webkit);
}

#fh5co-testimonials .section-heading h2 {
  color: var(--light-main);
}

#fh5co-testimonials .section-heading h2:after {
  background: var(--light-main);
}

#fh5co-testimonials .section-heading h3 {
  color: var(--light-main);
}

#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 1.2em;
  background: var(--light-main);
  font-size: 1em;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1.5em;
  border-top: 10px solid var(--dark-main);
  border-top-color: var(--light-main);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#fh5co-testimonials .box-testimony blockquote p {
  font-style: italic;
  color: var(--dark-main);

}

#fh5co-testimonials .box-testimony blockquote h4 {
  color: var(--dark-main);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em !important;
}

#fh5co-testimonials .box-testimony a:hover {
  color: var(--theme-main);
  border-bottom: 1px dashed var(--theme-main);
}

#fh5co-testimonials .box-testimony blockquote a {
  color: var(--dark-main);
  border-bottom: 1px dashed var(--dark-main);
}

#fh5co-testimonials .box-testimony .author {
  line-height: 20px;
  color: var(--dark-main);
  font-size: .9em;
  margin-left: 20px;
  font-weight: 400;
}

#fh5co-testimonials .box-testimony .author a {
  color: var(--dark-main);
}

#fh5co-testimonials .box-testimony .author p {
  float: left;
  margin-top: 10px;
  color: var(--light-main);
}

#fh5co-testimonials .icon:before {
  color: var(--light-main);
}
