@media (min-width: 320px) {
#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    background-color:var(--theme-main);
    background-image:url(/images/hero_320.png);
    background: -webkit-linear-gradient(-45deg, rgba(3,39,76,1) 0%, rgba(32,124,229,0.5) 100%), url("/images/hero.png") no-repeat center; 
    background-size: cover; 
  }
}


@media (min-width: 500px) {
#fh5co-home .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .9;
    -webkit-backface-visibility: hidden;
    background-color:var(--theme-main);
    background-image:url(/images/hero.png);
    background: -webkit-linear-gradient(-45deg, rgba(3,39,76,1) 0%, rgba(32,124,229,0.5) 100%), url("/images/hero.png") no-repeat center; 
    background-size: cover; 
  }
}
