#fh5co-about {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color:var(--light-main);
}

.fh5co-person p {
  font-style: italic;
  color: var(--dark-main);
}
