#fh5co-about {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color:var(--light-main);
}

#fh5co-about p {
  color: var(--dark-main);
  font-size: 1.5em;
  border-bottom: 0px var(--light-main) !important;
}

#fh5co-about .section-heading h3 {
  color: var(--dark-main);
  font-size: 1.8em !important;
  font-weight: 500 !important;
  line-height: 1.2;
}
